<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc">

  <context:component-scan base-package="com.example.hello"/>
  <mvc:annotation-driven/>
  <import resource="classpath:spring/app-context.xml"/>

</beans>